body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background:rgba(55, 56, 104, 0.93);
    position: fixed;
    width: 100%;
}

.atalho{
    float: right;
    display: inline;
    margin: 3% 5% 0 0;
}

main{
    padding: 0 0 8% 4%;
    background: linear-gradient(rgb(209, 213, 255)60%,rgb(177, 177, 255));
}

.logo-branca{
    width: 5%;
    margin: 3px 0 3px 10%;
}

.caixa{
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 1px 20px rgb(39, 39, 39);
}

.atalhos{
    float: right;
    text-transform: uppercase;
    margin-left: 25px;
    font-size: 13px;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.atalhos:hover {
    font-weight: bold;
}

.apresenta{
    display: inline-block;
    padding: 20% 4% 5% 15%;
    vertical-align: top;
}

.apresenta p{
    width: auto;
    font-size: 1.3em;
    margin: 5px 0 ;
}

.apresenta h1{
    font-size: 2em;
}

.linkedin{
    width: 60%;
    padding: 1em 0;
    margin: 5% 0 0 3em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 30%;
    background: rgb(29, 29, 90);
    color: rgb(216, 216, 216);
    transition: 0.5s all;
}

.linkedin:hover {
    transform: scale(1.05);
    background: rgb(69, 69, 158);
}

.minha-foto{
    display: inline-block;
    width: 20%;
    border-radius: 50%;
    margin: 17% 8% 8%;
}

.sobre-mim{
    background: linear-gradient(rgb(177, 177, 255),rgb(130, 130, 253)50%);
    width: 100%;
    margin: 0 auto;
    padding: 5% 0 10%;
}

.programador {
    display: inline-block;
    margin: 0 0 0 5%;
}

.sobre-mim-escrito {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 6% 0 0 3%;
    text-align: center;
}

.sobre-mim-escrito p {
    font-size: 120%;
    margin: 1em auto;
}

.sobre-mim-escrito h1 {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.projetos{
    background: linear-gradient(rgb(130, 130, 253), rgb(85, 85, 255)60%);
    color: rgb(225, 226, 255);
    text-align: center;
    width: 100%;
    padding: 8% 0 12%;
}

.projetos h2{
    font-size: 150%;
    font-weight: bold;
}

.emAndamento{
    background: rgb(32, 32, 122, 0.5);
    display: inline-block;
    margin: 30px 1.5% 0;
    padding: 8% 1% 8%;
    border-radius: 10px;
    transition: 0.4s all;
    width: 10%;
    max-height: 10%;
}


.habilidades{
    text-align: center;
    margin: 0 auto;
    padding: 9% 0 12%;
    background: linear-gradient(rgb(85, 85, 255),rgb(28, 28, 197)60%);
}

.habilidades h2{
    font-size: 150%;
    font-weight: bold;
    color: aliceblue;
}

.html img, .css img{
    width: 90%;
}

.js img{
    margin-top: 2px;
    padding: 1.3px 0 2.2px;
    width: 85%;
 }

 .reactJS img{
    width: 90%;
 }

.habilidades li{
    padding: 2% 0;
    vertical-align: top;
    border: 2px solid;
    margin: 0 0.6%;
    border-radius: 5px;
    background: linear-gradient(rgba(0, 219, 135, 0.877)80%,rgb(0, 78, 80));
    transition: 0.4s all;
    max-width: 120px;
    display: inline-block;
}

.habilidades li:hover {
    background: linear-gradient(rgb(38, 207, 123)80%, rgb(15, 85, 50) );
    transform: scale(1.1);
}

.imagens {
    margin: 5% 0;
}

.imagens p{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-style:italic;
    color: rgb(39, 39, 39);
}

footer {
    padding: 3% 0;
    text-align: center;
    background:rgb(33, 33, 63);
}

footer p{
    padding: 5px 0;
    color:rgb(183, 255, 245);
}

footer a{
    color:aliceblue;
}

@media screen and (max-width: 850px){
    .caixa{
        padding: 3% 0 10%;
    }

    .logo-branca{
        margin: 0 0 0 5px;
    }

    .atalhos{
        font-size: 8px;
    }

    .apresenta{
        padding: 30% 0 5%;
    }

    .apresenta p{
        font-size: 15px;
    }

    .apresenta h1{
        font-size: 20px;
    }

    .linkedin{
        width: 40%;
        font-size: 0.8em;
        border-radius: 10px;
        padding: 0.5em 0;
    }

    .minha-foto{
        margin: 30% 0 5% 10%;
        width: 30%;
    }

    .sobre-mim-escrito{
        width: 90%;
        font-size: 70%;
    }

    .programador{
        max-width: 100%;
        margin-left: 25%;
        width: 45%;
    }

    .emAndamento{
        font-size: 8px;
    }

    .html, .css, .js, .reactJS{
        display: inline;
        width: 15%;
    }

    .imagens p{
        font-size: 15px;
        text-align: center;
        margin: 0 0 10%;
        font-weight: bold;
    }

    footer p{
        font-size: 12px;
    }
}